.container {
  position: fixed;
  bottom: 0;
  height: var(--height-bottom-nav);
  background-color: var(--color-bottom-nav);
  width: inherit;
  min-width: inherit;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
  }
}