:root {
  --height-header: 5rem;
  --height-bottom-nav: 6rem;
  --color-white: #fff;
  --color-default-border: #eee;
  --color-chip-bg: rgba(255, 255, 255, .3);
  --color-tertiary-info: darkgrey;
  --color-primary-button: #4b9cfe;
  --color-close-button: #666666;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#root {
  width: 31.25%;
  min-width: 48rem;
  margin: 0 auto;
}