:root {
  --height-header: 5rem;
  --height-bottom-nav: 6rem;
  --border-default: 1px solid #eee;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #6d6d6d;
  --color-bottom-nav: #fafafa;
  --color-default-border: #eee;
  --color-chip-bg: rgba(255, 255, 255, .3);
  --color-tertiary-info: darkgrey;
  --color-primary-button: #4b9cfe;
  --color-close-button: #666666;
  --color-tab-inactive: #cccccc;
  --color-tab-border-bottom: #f4f4f4;
  --color-primary: #539df6;
  --color-about-placeholder: #d8d8d8;
  --color-about-info: #929292;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

html {
  font-size: 62.5%;
  // scroll-snap-type: y mandatory;
}

body {
  font-size: 1.6rem;
}

#root {
  width: 31.25%;
  min-width: 48rem;
  margin: 0 auto;
}
#filled-multiline-static {
  height: 50vh;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 2rem;
}
pre {
  font-family: inherit;
}